{% block base %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cornelius</title>
{% block style %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" href="{% static 'font/circular/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

</head>
<body>
    {% block nav %}
        <nav class="navbar navbar-default">
          <div class="container-fluid" id="brand-div">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand brand-padding"href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" class="logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                      <li class="btn-padding"><a href="{% url 'create_event' %}" class="btn-create-event btn btn-primary">Créer un événement <i class="fa fa-plus-circle circle-btn"></i></a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/static/img/{{ avatar.url }}" class="avatar">
                            <span>{{ user.username}}</span>
                        </a></li>
                      <li class="li-padding"><a href=""><i class="fa fa-bell color-3"></i></a></li>
                      <li class="li-padding"><a href=""><i class="fa fa-ellipsis-h color-3"></i></a></li
                  {% else %}
                      <li class="li-padding"><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt color-3"></i></a></li
                  {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
{% endblock %}
{% block content %}
{% endblock %}

{% block footer %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
    </body>
    </html>
{% endblock %}

